[Unit]
Description=Clevo laptop fan control
 
[Service]
Type=simple
 
User=root
Group=root
UMask=007
 
ExecStart=/sbin/N151ZU-fan-controller
 
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
